{% extends "draft/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Delete Post{% endblock %}
{% block description %}Delete post form{% endblock %}

{% block inner %}
<form action="." method="POST" enctype="multipart/form-data" autocomplete="off" novalidate>
{% csrf_token %}
<h4>Draft Delete {{ object.headline }}</h4>
    <button type="submit" class="btn btn-danger text-danger">DELETE POST</button>
    <a class="btn btn-warning text-warning" href="{% url 'posts:detail' posts.slug %}">Cancel</a>
                    
</form>
           

{% endblock %}

