{% extends "posts/base.html" %}
{% load static i18n %}


{% block head_title %}{{ object.headline }}{% endblock %}
{% block description %}{{ object.description }}{% endblock %}

{% block inner %}
<h3>{{ object.headline }}</h2>
<p>{{ object.get_markdown|safe }}</p>
{% endblock %}


