{% extends "posts/base.html" %}
{% load static i18n %}

{% block head_title %}{% endblock %}
{% block description %}{% endblock %}

{% block inner %}
{% for post in posts %}
<h3><a style="color:#5c6670;text-decoration:none;padding-bottom:2px;border-bottom:2px solid #00bcd4;" href="{{ post.get_absolute_url }}">{{ post.headline }}</a></h3>
<small>{{ post.description }}</small>
{% endfor %}
{% endblock %}

