.a__tag {
  color: inherit !important;
  border-bottom: 3px solid #00bcd4 !important;
  padding-bottom: 5px; }

.a__tag:hover {
  text-decoration: none; }

.nav__item {
  border-bottom: 2px solid #00bcd4 !important;
  padding-bottom: 3px; }

.nav__div {
  padding-bottom: 100px !important; }

.icon__normal {
  font-size: 28px; }

.social__link li {
  margin-bottom: 9px !important; }

.text__grey {
  color: #757575; }


