<template>
  <section class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>About</h2>
          <p class="lead">
            Hello, I'm Arnel and welcome to my internet site. What I've been up to these days often, 
            I teach myself how to code and keeps on practicing what I've learned. 
            I am keen on this because it's a worthwhile activity and I have fun.
          </p>
          <p class="lead">
            I've never done coding back then, but it leads me to this path as a 
            consequence of my curiosity concerning technology and how others use it to solve problems.
            This search commenced throughout my participation in an <a class="a__tag" href="https://od.lk/f/ODhfODQ1NzAyMV8" target="_blank">ICT Open study</a> (2017).
          </p>
          <span class="icon__normal text__grey"><i class="fa fa-info-circle"></i></span>
          <ul>
            <li>Interest: Web Development</li>
            <li>Backend: Python/Django(most of the time), NodeJS, Postgres, MongoDB</li>
            <li>Frontend: HTML, CSS, Javascript, SASS, Vue, React</li>
            <li>A Culinarian by profession and Food Technologist in the past</li>
            <li>Currently, residing and working in Finland</li>
            <li>Born and raised in the Philippines</li>
          </ul>
          <span class="icon__normal text__grey"><i class="fas fa-link"></i></span>
          <ul class="social__link">
            <li><a class="a__tag" target="_blank" href="https://github.com/arnelimperial">Github</a></li>
            <li><a class="a__tag" target="_blank" href="https://bitbucket.org/arnelimperial/">Bitbucket</a></li>
            <li><a class="a__tag" target="_blank" href="https://www.linkedin.com/in/arnelimperial">Linkedin</a></li>
            <li><a class="a__tag" target="_blank" href="https://twitter.com/ArnelGImperial">Twitter</a></li>
            <li><a class="a__tag" target="_blank" href="https://www.facebook.com/arnel.imperial.3323">Facebook</a></li>
        </ul>
        </div>
      </div>
    </div>
  </section>
  
</template>

<style>
  
  

</style>