<template>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h2 class="w3-text-green">Recent Post</h2>
          <div v-for="post in posts" :key="post.id" class="pb-5">
            <h3>
              <router-link 
                :to="{ name: 'Post', params: { slug: post.slug }}" class="headline">
                {{ post.headline }}
              </router-link>
            </h3>
            <vue-markdown>
              {{ post.content.split(' ').splice(0, 100).join(' ')}}
            </vue-markdown>
            <router-link 
                :to="{ name: 'Post', params: { slug: post.slug }}" class="continue">
                continue reading....
            </router-link>
            <small class="text-danger">{{ error }}</small>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
import { APIService } from "@/common/api.service.js";
import VueMarkdown from 'vue-markdown';
export default {
  name: "Home",
  components: {
     VueMarkdown
  },
  data() {
    return {
      posts: [],
      error: ''
    };
  },

  mounted() {
    let endpoint = process.env.VUE_APP_ENDPOINT.concat("/api/posts/");
    axios
      .get(endpoint)
      .then(response => (this.posts = response.data))
      .catch(err => this.error = err)
  }
};
</script>

<style scoped>
.section__div {
  margin-top: 140px;
}
.headline {
  text-decoration: none !important;
  transition: 0s;
  color: #2196F3;
  /* color: #8c8c8c; */
}
.headline:hover{
  color:#00bcd4 !important;
  transition-delay:0.2s !important;
  transition-duration: 1s !important;
}
.continue{
  color: #00bcd4 !important
}
</style>