<template>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h4>Title: {{ headline }}</h4>
          <div id="content-markdown">
            <vue-markdown :source="content"></vue-markdown>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
import { APIService } from "@/common/api.service.js";
import VueMarkdown from 'vue-markdown';
export default {
  name: "Post",
  components: {
     VueMarkdown
  },
  props: {
    slug: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      headline: null,
      content: '',
      subheadline: null,
      post: {},
      errored: null
    };
  },
  mounted() {
    let endpoint = process.env.VUE_APP_ENDPOINT.concat("/api/posts/");
    axios
      .get(endpoint.concat(this.slug))
      .then(resp => {
        this.headline = resp.data.headline;
        this.content = resp.data.content;
        this.subheadline = resp.data.subheadline;
      })
      .catch(error => {
        this.errored = "There was an error!";
      });
  }
};
</script>

<style scoped>
.section__div {
  margin-top: 150px;
}
</style>