<template>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2>Project Vue Page</h2>
                </div>
            </div>
        </div>
    </section>
  
</template>

<script>
export default {
    name: "Projects"

}
</script>

<style>

</style>