<template>
  <div>
    <div>
    <nav class="py-3 navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
      <div class="container">
        <router-link
          class="navbar-brand font-weight-bold"
          id="arnel"
          :to="{ name: 'Home' }"
        >Arnel Imperial</router-link>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <router-link class="nav-link font-weight-bold" :to="{ name: 'Home' }">Home</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link font-weight-bold" :to="{ name: 'About' }">About</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link font-weight-bold" :to="{ name: 'Projects' }">Projects</router-link>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="/contact/">Contact</a>
            </li>
            <li class="nav-item" v-if="isAdminAuth">
              <div class="w3-dropdown-hover" v-for="user in users" :key="user.pk">
                <button class="w3-button w3-teal w3-text-white">Account</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                  <a :href="'/users/' + user.username" class="w3-bar-item w3-button">{{ user.first_name }} {{ user.last_name }}</a>
                  <a href="/accounts/logout/" class="w3-bar-item w3-button">Sign Out</a>
                </div>
              </div>
            </li>
            <li class="nav-item" v-else>
              <a class="nav-link font-weight-bold"
                href="/accounts/login/"
              >Portal</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-view />
  </div>
 
</template>
<script>
import axios from "axios";
import { APIService } from "@/common/api.service.js";
export default {
  name: "App",
  data() {
    return {
      isLogin: false,
      users: [],
      error: '',
      email: null,
      isAdminAuth: null,
      adminUser: null
    };
  },
  methods: {
    async setUserInfo(){
      const config = {
        method: 'get',
        //url: 'http://127.0.0.1:8000/api/users/'
        url: process.env.VUE_APP_ENDPOINT.concat("/api/users/")
    }
      try {
        let res = await axios(config);
        let info = res.data;
        let fname = info[0].first_name;
        let lname = info[0].last_name;
        //this.adminUser = fname + ' ' + lname
        this.users = info
        this.isAdminAuth = true
        console.log('User authenticated.');
      }catch(err){
        //this.isAdminAuth = false
        console.log('Needs authentication!');
      }
    }
  },
  created(){
    this.setUserInfo()

  }
  // mounted() {
  //   axios.get("http://127.0.0.1:8000/api/users/")
  //    .then(response => {
  //      this.users = response.data
  //      this.email = response.data[0].email
  //      this.isEmail = true

  //    })
  //    .catch(err => {
  //      this.error = err
  //    })
  //   }
};
</script>


<style>
#mainNav a.router-link-exact-active {
  color: #343a40;
  border-bottom: 2px solid #00bcd4;
  padding-bottom: 3px;
}
#arnel {
  border-bottom: none !important;
  color: #343a40 !important;
}

.display__login {
  visibility: hidden;
}
</style>


