//Colors
$green: #93ceb3;
$blue: #2196F3;
$blue1: #4582EC;
$cyan: #00bcd4;
$gray: #757575;
$muted: #ddd;
//Spaces
$navDiv: 100px;



.a__tag{
    color: inherit !important;
    border-bottom: 3px solid $cyan !important;
    padding-bottom: 5px;
}
.a__tag:hover{
    text-decoration: none;
}

.nav__item{
    border-bottom: 2px solid $cyan !important;
    padding-bottom: 3px;
}
.nav__div{
    padding-bottom: $navDiv !important;
    
}

.icon__normal{
    font-size: 28px;
}

.social__link li{
    margin-bottom: 9px !important; 
}

.text__grey{
    color: $gray;
}

